App-online-NodeRed/codigoNodeRed
[
    {
        "id": "3bf66469.9a8d8c",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "77ee9743.ff052",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "f501635.d87642",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "48e8a5f1.a46544",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "48e8a5f1.a46544",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9ef7689a.c42718",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "48e8a5f1.a46544",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "49f67041.591be",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "447d06ee.2753",
        "type": "MySQLdatabase",
        "z": "",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "laravel",
        "tz": ""
    },
    {
        "id": "a1c814ab.08976",
        "type": "mqtt in",
        "z": "3bf66469.9a8d8c",
        "name": "",
        "topic": "#",
        "qos": "2",
        "datatype": "auto",
        "broker": "49f67041.591be",
        "x": 130,
        "y": 680,
        "wires": [
            [
                "f417a4f5.c127a8"
            ]
        ]
    },
    {
        "id": "e65beff5.acacd8",
        "type": "mysql",
        "z": "3bf66469.9a8d8c",
        "mydb": "447d06ee.2753",
        "name": "Guardar nedicion en  Laravel",
        "x": 540,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "f417a4f5.c127a8",
        "type": "function",
        "z": "3bf66469.9a8d8c",
        "name": "",
        "func": "//Ejemplo topico y mensaje\n//Ejemplo ESP32_1_lio/dht/temp_humedad 20.30,93.00\n\n//topic:  ESP32_1_lio/dht/temp_humedad\n//mensaje 20.30,93.00 = TEMP,HUMEDAD\n\nvar date = new Date();\nvar dateStr =\n  (\"00\" + date.getDate()).slice(-2) + \"/\" +\n  (\"00\" + (date.getMonth() + 1)).slice(-2) + \"/\" +\n  date.getFullYear() + \" \" +\n  (\"00\" + date.getHours()).slice(-2) + \":\" +\n  (\"00\" + date.getMinutes()).slice(-2) + \":\" +\n  (\"00\" + date.getSeconds()).slice(-2);\n\nquery = \"INSERT INTO series (timestamp,temperatura,humedad,topic) VALUES (\\\"\"+dateStr+\"\\\",\"+msg.payload+\",\\\"\"+msg.topic+\"\\\");\";\n\nmsg.topic = query;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 300,
        "y": 680,
        "wires": [
            [
                "499fc183.0b0bf8",
                "e65beff5.acacd8"
            ]
        ]
    },
    {
        "id": "499fc183.0b0bf8",
        "type": "debug",
        "z": "3bf66469.9a8d8c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 820,
        "wires": []
    }
]
